BasedOnStyle: LLVM

IndentWidth: 4
PointerAlignment: Left
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
FixNamespaceComments: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  # SplitEmptyRecord: false
  # SplitEmptyNamespace: true
  # SplitEmptyFunction: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false
# IndentPPDirectives: AfterHash
IncludeCategories:
  - Regex:           '^<[a-z_]+>'
    Priority:        1
  - Regex:           '^<idle.*/config.hpp>'
    Priority:        3
  - Regex:           '^<idle/.*\.hpp>'
    Priority:        4
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        5
